.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-fluid h1{
  text-align: center;

}
.taskform p{
  text-align: center;
}
.taskform button  {
  width: 100px;
  padding: 5px;
  margin-left: 5px;
}
.taskform span{
  float:right;
}
.mt-15{
  margin-top: 15px;
}
.mb-15{
  margin-bottom: 15px;
}
.table th{
  text-align: center;
}
.ml-5{
  margin-left: 5px !important;
}
.table td{
  text-align: center;
  justify-content: center;
}
.taskform span:hover{
  color: red;
  cursor: pointer;
}
.bg{
  background-color: #C8FAE2;

}
.bl-2{
  border: solid 2px black;
}
.bl-1{
  border: solid 2px red;
}
.pd-5{
  padding: 5px;
}